<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
             <div class="row">
                <div class="col-lg-2 text-center">
                </div>
                <div class="col-lg-8 text-center">
                   <p class="large text-muted"><b>United by the vision for better science, we are builders of tools, research products, and communities that make up the invisible infrastructure that supports open science.  Our backgrounds as researchers have prepared us to tackle openness  in Software, Hardware, Ethics, Data, Skills, and Publishing.   It’s not enough to be performing science in an open way, but to be critically thinking of how open is performed and to stand up, lead, and ignite change. </b></p>
                </div>
                <div class="col-lg-2 text-center">
                </div>
            </div>
        </div>
    </section>
