<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
             <div class="row">
                <div class="col-lg-2 text-center">
                </div>
                <div class="col-lg-8 text-center">
                   <p class="large text-muted"><b>United by the vision for better science, we are builders of tools, research products, and communities that make up the invisible infrastructure supporting open science. Our backgrounds as researchers have prepared us to tackle openness in software, hardware, ethics, data, skills, and publishing. It is not enough to be performing science in an open way; we must be critically thinking of how open is performed and stand up, lead, and ignite change. </b></p>
                </div>
                <div class="col-lg-2 text-center">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 text-center">
                </div>
                <div class="col-lg-8 text-center">
                   <p class="large text-muted">On February 21, 2019 we gave short <a href="https://docs.google.com/presentation/d/17d-G0lgLxuJtMF0T6MTIczpyat1aW-RaMQMF5kwpxPw/edit?usp=sharing">presentations summarizing our work</a> during a week in New York City together hosted by the <a href="https://www.siegelendowment.org/">Siegel Family Endowment</a> and the <a href="https://helmsleytrust.org/">Helmsley Charitable Trust</a>. </p>
                </div>
                <div class="col-lg-2 text-center">
                </div>
            </div>
        </div>
    </section>
